---
apiVersion: awx.ansible.com/v1beta1
kind: AWX
metadata:
  name: awx
  namespace: {{ namespace_k3s }}
spec:
  # These parameters are designed for use with:
  # - AWX Operator: {{ operator_version }}
  #   https://github.com/ansible/awx-operator/blob/{{ operator_version }}/README.md
  # - AWXai: Custom AI-maintained AWX fork
  #   https://github.com/antuelle78/AWXai

  admin_user: admin
  admin_password_secret: awx-admin-password

  # Use custom AWXai image instead of default AWX
  image: {{ awx_image }}
  image_version: {{ awx_version }}
  image_pull_policy: Always

  ingress_type: ingress
  ingress_tls_secret: awx-secret-tls
  hostname: {{ awx_hostname }}

  ingress_annotations: |
    cert-manager.io/issuer: awx-issuer

  postgres_configuration_secret: awx-postgres-configuration

  postgres_storage_class: awx-postgres-volume
  postgres_storage_requirements:
    requests:
      storage: 25Gi

  projects_persistence: true
  projects_existing_claim: awx-projects-claim

  postgres_init_container_resource_requirements: {}
  postgres_resource_requirements: {}
  web_resource_requirements: {}
  task_resource_requirements: {}
  ee_resource_requirements: {}
  service_type: {{ awx_service_type }}
