---
# defaults file for awx_k3s

k3s_version: v1.33.4+k3s1
kubeconfig_src: /etc/rancher/k3s/k3s.yaml
usr_kubeconfig: ~/.kube/config

operator_version: 2.19.1
awx_image: docker.io/antuelle78/awxai
awx_version: 25.0.1
awx_service_type: nodeport
operator_repo: https://github.com/ansible/awx-operator.git
namespace_k3s: awxai

postgres_password: "mydbpasswd"
awx_admin_password: "LhTAKSFgTgLynAljakvkdLueVgNUXsQG"

base_dir: "{{ ansible_env.PWD }}/base"

awx_hostname: awxai.antuelle78.com
