---
# defaults file for backup_awx_k3s

namespace_k3s: awxai

base_dir: "{{ ansible_env.PWD }}/base"

awx_backup_name: awx-backup-{{ ansible_date_time.date }}

backup_timeout: 540

kubeconfig_src: /etc/rancher/k3s/k3s.yaml
usr_kubeconfig: ~/.kube/config

retention: 30

api_version: "awx.ansible.com/v1beta1"

deploy_kind: AWXBackup

# Storage size for backups (adjust based on your needs)
backup_storage_size: 25Gi
