# tasks file for awx_k3s_centosstream
- block:
    - name: Disable firewalld
      ansible.builtin.systemd:
        name: firewalld
        state: stopped
        enabled: false
      ignore_errors: true
    - name: Disable nm-cloud-setup.timer
      ansible.builtin.systemd:
        name: nm-cloud-setup.timer
        state: stopped
        enabled: false
      ignore_errors: true
    - name: Disable nm-cloud-setup.service
      ansible.builtin.systemd:
        name: nm-cloud-setup.service
        state: stopped
        enabled: false
      ignore_errors: true
- name: Make sure all packages are up to date
  ansible.builtin.yum:
    name: "*"
    state: latest
  register: systemstatus
  when: ansible_distribution != "Ubuntu"
  tags:
    - patchsys
- name: Reboot system if needed
  ansible.builtin.reboot:
    reboot_timeout: 240
  when: systemstatus is changed
  tags:
    - patchsys
- name: Install required packages
  ansible.builtin.yum:
    name:
      - tar
      - git
      - make
      - python3-pip
      - curl
      - jq
    state: present
- name: Upgrade pip
  ansible.builtin.command: python3 -m pip install --upgrade pip
  changed_when: false
- name: Install required python modules
  ansible.builtin.pip:
    name:
      - kubernetes
      #- pyOpenSSL
      - PyYAML
      - jsonpatch
    executable: pip3
  ignore_errors: true
  become: false
- name: Populate service facts
  ansible.builtin.service_facts:
- name: Set k3s action state
  ansible.builtin.set_fact:
    installed: true
  when: ansible_facts.services['k3s.service'] is defined
- block:
    - name: Create kubeconfig directory
      ansible.builtin.file:
        path: ~/.kube
        mode: 0700
        state: directory
    - name: Create user kubectl configuration
      ansible.builtin.copy:
        src: "{{ kubeconfig_src }}"
        dest: "{{ usr_kubeconfig }}"
        mode: 0600
        remote_src: true
    - name: Get Cluster information
      kubernetes.core.k8s_cluster_info:
      register: api_status
  become: false
  when: ansible_facts.services['k3s.service'] is defined
- name: Set k3s installed status to false
  ansible.builtin.set_fact:
    installed: false
  when: ansible_facts.services['k3s.service'] is not defined
- name: Install k3s {{ k3s_version }}
  ansible.builtin.shell: "curl -sfL https://get.k3s.io/ | INSTALL_K3S_VERSION={'{{ k3s_version }}'} sh -s - server --cluster-init --tls-san {{ awx_hostname }} --write-kubeconfig-mode 644"
  when: not installed or api_status.version.server.kubernetes.gitVersion != k3s_version
  tags:
    - k3s_install
- name: Create a awx namespace
  kubernetes.core.k8s:
    name: "{{ namespace_k3s }}"
    api_version: v1
    kind: Namespace
    state: present
  become: false

- name: Create data directory
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
    mode: "0775"
    owner: "1000"
    group: "0"
  with_items:
    - /data/postgres-13
    - /data/postgres-15
    - /data/projects

- name: Create postgres-15 pv
  become: false
  kubernetes.core.k8s:
    state: present
    definition:
      apiVersion: v1
      kind: PersistentVolume
      metadata:
        name: awx-postgres-15-volume
      spec:
        accessModes:
          - ReadWriteOnce
        capacity:
          storage: 8Gi
        hostPath:
          path: /data/postgres-15
        persistentVolumeReclaimPolicy: Retain
        storageClassName: awx-postgres-volume
        volumeMode: Filesystem

- name: Create postgres-15 pvc
  become: false
  kubernetes.core.k8s:
    state: present
    definition:
      apiVersion: v1
      kind: PersistentVolumeClaim
      metadata:
        name: postgres-15-awx-postgres-15-0
        namespace: "{{ namespace_k3s }}"
      spec:
        accessModes:
          - ReadWriteOnce
        resources:
          requests:
            storage: 8Gi
        storageClassName: awx-postgres-volume
        volumeMode: Filesystem

- block:
    - name: Create kubeconfig directory
      ansible.builtin.file:
        path: ~/.kube
        mode: 0700
        state: directory
    - name: Create user kubectl configuration
      ansible.builtin.copy:
        src: "{{ kubeconfig_src }}"
        dest: "{{ usr_kubeconfig }}"
        mode: 0600
        remote_src: true
    - name: Clone AWX operator git repository
      ansible.builtin.git:
        repo: "{{ operator_repo }}"
        dest: /tmp/awx-operator
        version: "{{ operator_version }}"
        force: yes
    - name: Deploy awx operator
      ansible.builtin.command: kubectl apply -k /tmp/awx-operator/config/default -n {{ namespace_k3s }}
      changed_when: false

    - name: Create base directory
      ansible.builtin.file:
        path: "{{ base_dir }}"
        mode: 0755
        state: directory
    - name: Generate selfsigned certs
      ansible.builtin.shell: openssl req -x509 -nodes -days 3650 -newkey rsa:2048 -out "{{ base_dir }}/tls.crt" -keyout "{{ base_dir }}/tls.key" -subj "/CN={{ awx_hostname }}/O={{ awx_hostname }}" -addext "subjectAltName = DNS:{{ awx_hostname }}"
      args:
        creates: "{{ base_dir }}/tls.crt"
    - name: Copy pvc manifest to host
      ansible.builtin.template:
        src: pvc.j2
        mode: 0644
        dest: "{{ base_dir }}/pvc.yaml"
    - name: Copy pv manifest to host
      ansible.builtin.template:
        src: pv.j2
        mode: 0644
        dest: "{{ base_dir }}/pv.yaml"
    - name: Copy awx manifest to host
      ansible.builtin.template:
        src: awx-deploy.j2
        mode: 0644
        dest: "{{ base_dir }}/awx.yaml"
    - name: Copy kustomization manifest to host
      ansible.builtin.template:
        src: kustomization.j2
        mode: 0644
        dest: "{{ base_dir }}/kustomization.yaml"
    - name: Deploy kustomization manifest
      ansible.builtin.command: kubectl apply -k {{ base_dir }}/
      changed_when: false
      register: install_status
    - name: Show install status
      ansible.builtin.debug:
        var: install_status
  become: false
